{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<head>
    <link rel"stylesheet" type="text/css" href="style.css"</head> 
<form method="post" action="{% url 'login' %}" align="center">
{% csrf_token %}
<div class="container">
<div class="jumbotron">
<h1 style="color:crimson" align="center">SeamWes</h1>
<h2  style="color:black" align="center"> <small> A food delivery service for students, by students</h2>
{% block content2 %}
{% endblock %}
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{# Assumes you setup the password_reset view in your URLconf #}
<p align="center"><a href="{% url 'password_reset' %}" >Lost password?</a></p>
<p align="center"> Not registered? Register<a href="register"> here</a>.</p>

{% endblock %}