{% extends "base.html" %}

{% block content %}

{#
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
#}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please register with your Wesleyan email address.</p>
    {% else %}
    <p>Please register to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'register' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password1.label_tag }}</td>
    <td>{{ form.password1 }}</td>
</tr>
<tr>
    <td>{{ form.password2.label_tag }}</td>
    <td>{{ form.password2 }}</td>
</tr>
</table>

<input type="submit" value="register" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}