body {
	background-color: #f3f2f4;
}
h1 {color: black;
}
.login-form label{
	font-family: helvetica;
	font-size:21px;
	font-weight: lighter; 	
}
input{
	font-family: helvetica;
	font-size:14px;
	font-weight:bold;
}